<img src="/images/fahasa.png" alt="fahasa">
                                            <div class="discount_rate">
                                                <span class="rate">-<%=discount_fahasa%>%</span>
                                            </div>
                                            <div class="price_product">
                                                <div class="price_book">
                                                    <span class="number price"><%=price_fahasa%></span>
                                                    <span class='d'>₫</span>
                                                </div>
                                                <div class="old_price">
                                                    <span class="number old_price"><%=list_price_fahasa%></span>
                                                    <span class='d_old'>₫</span>
                                                </div>
                                            </div>
                                            <div class="sell_produce">
                                                <a href="<%=link_fahasa%>"><span class='sell-produce'>Mua Ngay</span></a>
                                            </div>