<img src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Lazada_%282019%29.svg" alt="lazada">
                                            <div class="discount_rate">
                                                <span class="rate">-<%=discount_lazada%>%</span>
                                            </div>
                                            <div class="price_product">
                                                <div class="price_book">
                                                    <span class="number price"><%=price_lazada%></span>
                                                    <span class='d'>₫</span>
                                                </div>
                                                <div class="old_price">
                                                    <span class="number old_price"><%=list_price_lazada%></span>
                                                     <span class='d_old'>₫</span>
                                                </div>
                                                
                                            </div>
                                            <div class="sell_produce">
                                                <a href="https://<%=link_lazada%>"><span class='sell-produce'>Mua Ngay</span></a>
                                                
                                            </div>